#editor{
  padding: 1rem;
  min-height: 85vh;
  min-width: 45vw;
}

#preview{
  padding: 1rem;
  display: block;
  background-color: #212529;
  color: white;
  min-height: 85vh;
  min-width: 45vw;

}
#preview img{
  max-width: 90%;
}

#container{
  margin: 2vh auto;
  display: flex;
  justify-content: space-around;
}
/* Nav bar */
#header-container{
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 30px;
}
#header-container img{
  height: 30px;
  margin-right: 5px;
}
